<div class="body-exam row">
    <div class="waiting-exam" style="height: 150px">
        <p class="title-exam text-success">@ViewBag.Message</p>
        <p class="title-exam text-danger">@ViewBag.Errors</p>
    </div>
</div>